[package]
name = "wetware"
version = "0.4.0"
edition = "2021"
license = "Apache-2.0"
description = "Tool to manage personal, networked thoughts and facts about subjects and topics."
homepage = "https://github.com/petr-muller/wetware"
repository = "https://github.com/petr-muller/wetware"
documentation = "https://github.com/petr-muller/wetware"
readme = "README.md"
keywords = ["notes"]

[[bin]]
name = "wet"
path = "src/main.rs"

[dependencies]
chrono = "0.4.41"
clap = { version = "4.5.42", features = ["derive", "env"] }
rusqlite = { version = "0.32.1", features = ["bundled", "chrono"] }
ratatui = "0.29.0"
crossterm = "0.29.0"
interim = { version = "0.1.2", features = ["chrono"] }
indexmap = "2.10.0"
rusqlite_migration = "1.3.1"

[dev-dependencies]
assert_cmd = "2.0.17"
assert_fs = "1.1.3"
predicates = "3.1.3"
pretty_assertions = "1.4.1"
